.section {
    width: 100%;
    max-width: 550px;
    padding: 15px;
    margin: auto;
    background-color: #000000;
    border-radius: 20px;
    margin-top: 8.4rem;
    margin-bottom: 1.5rem;
    border: 4px;
    border-color: #260726;
    border-style: solid;
    box-shadow: 1px 0px 4px 4px rgb(0, 255, 255);
}

.a{
    background-color: #000000;
    padding: 2.2rem;
}

.formCliente{
    text-align: center;
    padding: 2.5rem;
}

.title{
    font-size: 35px;
    color: rgb(255, 255, 255);
}

:host ::ng-deep .p-inputmask{
    width: 170%;
    height: 3.2rem;
    border-top-right-radius: 6px !important;
    border-bottom-left-radius: 1px !important;
    border-top-left-radius: 1px !important;
}

p{
    color: white;
}

.alert{
    background-color: #040d19;
    font-style: bold;
}

:host ::ng-deep .modalConfirm .p-dialog-footer {
    text-align: center;
    border-bottom-right-radius: 2rem;
    border-bottom-left-radius: 2rem;
}

:host ::ng-deep .modalConfirm .p-dialog-footer button {
    width: 25%;
    border-radius: 8px;
}

:host ::ng-deep .p-button-rounded {
    transition-duration: 0.4s;
    border: 1px;
    border-color: #17002c;
    border-style: solid;
    box-shadow: 1px 0px 4px 4px rgb(0, 255, 255);
    background-color: #000000;
    color: #ffffff;
}

:host ::ng-deep .p-button-rounded:hover {
    background: #10003d !important;
    color: #ffffff !important;
}

/* .modal{
    display: flex;
    text-align: center;
} */
